.loading-spinner{
    margin: 25px auto;
}

.mensaje-error{
    color: red;
    text-align: center;
    margin: 10px;
}
.margin-perfil{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contenedor-principal{
    min-width: 360px;
}
.listado{
    width: 100%;
}