<div *ngIf="isLoading" class="container-loading-spinner">
    <mat-spinner 
        class="loading-spinner"   
    ></mat-spinner>
</div>
<div [hidden]="isLoading">
        <div class="container-tarjeta">
            <app-tarjeta-perfil
            [tarjeta] = "tarjetaPerfil"
            [loggedIn] = "loggedIn"
            (onEditPerfil)="onEditPerfil($event)"
            (onAddTarjeta)="onAddTarjeta()"
            (onLoaded)="onLoaded()"
            ></app-tarjeta-perfil>
        </div>
        <div class="container-tarjeta" *ngFor="let tarjeta of listaTarjetas">
            <app-tarjeta-base
            [tarjeta] = "tarjeta"
            [loggedIn] = "loggedIn"
            (onAddDetalle)="onAddDetalle(tarjeta)"
            (onEditDetalle)="onEditDetalle($event)"
            (onDeleteDetalle)="onDeleteDetalle($event)"
            (onDeleteTarjeta)="onDeleteTarjeta($event)"
            >
        </app-tarjeta-base>
    </div>
</div>