<div class="contenedor-principal">
    <app-cargando  
        *ngIf="isLoading"
        [isLoading]="isLoading"
        [errorMessage]="errorMessage">
    </app-cargando>
    <div class="listado" [hidden]="isLoading">
        <div class="container-tarjeta margin-perfil">
            <app-tarjeta-perfil
            [tarjeta] = "tarjetaPerfil"
            [loggedIn] = "loggedIn"
            (onEditPerfil)="onEditPerfil($event)"
            (onAddTarjeta)="onAddTarjeta($event)"
            (onLoaded)="onLoaded()"
            ></app-tarjeta-perfil>
        </div>
        <div 
        class="container-tarjeta" 
        *ngFor="let tarjeta of otrasTarjetas" 
        [id]="idFromNombre(tarjeta.titulo)"
        >
            <app-tarjeta-base
            [tarjeta] = "tarjeta"
            [loggedIn] = "loggedIn"
            (onAddDetalle)="onAddDetalle($event)"
            (onEditDetalle)="onEditDetalle($event)"
            (onDeleteDetalle)="onDeleteDetalle($event)"
            (onDeleteTarjeta)="onDeleteTarjeta($event)"
            (onEditTarjeta)="onEditTarjeta($event)"
            >
            </app-tarjeta-base>
        </div>
        <div class="fila-tarjetas">
            <div 
            class="container-tarjeta tarjeta-porcentaje" 
            *ngFor="let tarjeta of tarjetasPorcentaje"
            >
                <app-tarjeta-base
                [tarjeta] = "tarjeta"
                [loggedIn] = "loggedIn"
                (onAddDetalle)="onAddDetalle($event)"
                (onEditDetalle)="onEditDetalle($event)"
                (onDeleteDetalle)="onDeleteDetalle($event)"
                (onDeleteTarjeta)="onDeleteTarjeta($event)"
                (onEditTarjeta)="onEditTarjeta($event)"
                >
                </app-tarjeta-base>
            </div>
        </div>
    </div>
</div>