<div>
    <label class="label" for="lugar">Titulo:</label>
    <input 
        class="textbox"
        type="text"
        name="titulo"
        id="titulo"
        [(ngModel)]="titulo"
    >
</div><div>
    <label class="label" for="prioridad">Prioridad:</label>
    <input 
        class="textbox"
        type="text"
        name="prioridad"
        id="prioridad"
        [(ngModel)]="prioridad"
    >
</div>
<div>
    <label class="label" for="lugar">Tipo:</label>
    <select class="textbox" name="example" [(ngModel)]="tipoSeleccionado">
        <option [value]="tipo" *ngFor="let tipo of listaTipos">{{tipo}}</option>
    </select>
</div>
  
<mat-dialog-actions class="botones">
    <input class="btn btn-cancelar" mat-button [mat-dialog-close]="cancel()" type="button" value="Cancelar">
    <input class="btn btn-enviar" mat-button [mat-dialog-close]="submit()" type="submit">
</mat-dialog-actions>