
.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tipoTarjeta{
    border:none;
    width: 100px;
}
.label{
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.textbox{
    border:none;
    display: inline-block;
    border-bottom: 1px solid rgb(29, 29, 29);
    width: 100%;
}
.textbox:focus{
    outline: none;
}

.lblId {
    margin-top: 15px;
    float: left;
    width: 25px;
    margin: 15px 0px 0px 0px;
}
.txtId {
    display:inline;
    width: 40px;
    margin: 15px 0px 0px 0px;
    border: none;
}

.btn-cancelar{
    color: rgb(0, 0, 0);
    border-color: rgb(39, 39, 39);
}
.btn-cancelar:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: gainsboro;
    cursor: pointer;
}

.btn-enviar{
    color: rgb(0, 64, 255);
    border-color: rgb(0, 64, 255);
    margin-right: 10px;
}

.btn-enviar:hover{
    background-color: rgb(0, 64, 255);
    color: gainsboro;
    cursor: pointer;
}