<div class="container-matdialog">
    <div class="container-dato-matdialog">
        <label class="label-matdialog">Tipo Tarjeta</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="tipoTarjeta"
            id="tipoTarjeta"
            [(ngModel)]="tipo" 
            disabled="disabled"
        >
    </div>

    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="titulo">Titulo</label>
        <input
            class="textbox-matdialog"
            type="text"
            name="titulo"
            id="titulo"
            [(ngModel)]="titulo"
        >
    </div>

    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="prioridad">Prioridad</label>
        <input 
            class="textbox-matdialog"
            type="number"
            name="prioridad"
            id="prioridad"
            [(ngModel)]="prioridad"
        >
    </div>

    <div class="container-dato-matdialog" *ngIf="tipoBasico || tipoProyecto">    
        <label class="label-matdialog" for="urlImg">URL Imagen</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="urlImg"
            id="urlImg"
            [(ngModel)]="urlImg"
        >
    </div>

    <div class="container-dato-matdialog" *ngIf="tipoBasico || tipoProyecto">
        <label class="label-matdialog" for="descripcion">Descripcion</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="descripcion"
            id="descripcion"
            [(ngModel)]="descripcion"
        >
    </div>

    <div class="container-dato-matdialog" *ngIf="tipoBasico">
        <label class="label-matdialog" for="periodo">Perido</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="periodo"
            id="periodo"
            [(ngModel)]="periodo"
        >
    </div>

    <div class="container-dato-matdialog" *ngIf="tipoPorcentaje">
        <label class="label-matdialog lblCantidad" for="cantidad">Cantidad</label>
        <input 
            class="textbox-matdialog"
            type="number"
            name="cantidad"
            id="cantidad"
            [(ngModel)]="cantidad"
        >
    </div>

    <div class="container-dato-matdialog" *ngIf="tipoProyecto">
        <label class="label-matdialog" for="enlace">Enlace</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="enlace"
            id="enlace"
            [(ngModel)]="enlace"
        >
    </div>

    <mat-dialog-actions class="container-botones-matdialog">
        <input class="btn btn-secundario" mat-button [mat-dialog-close]="cancel()" type="button" value="Cancelar">
        <input class="btn btn-principal"mat-button [mat-dialog-close]="submit()" type="submit">
    </mat-dialog-actions>
</div>