<div class="container-matdialog">
    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="nombre">Nombre</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="nombre"
            id="nombre"
            [(ngModel)]="nombre"
        >
    </div>

    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="urlImgPerfil">URL Imagen Perfil</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="urlImgPerfil"
            id="urlImgPerfil"
            [(ngModel)]="urlImgPerfil"
        >
    </div>

    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="nombre">Detalle</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="detalle"
            id="detalle"
            [(ngModel)]="detalle"
        >
    </div>

    <div class="container-dato-matdialog">
        <label class="label-matdialog" for="lugar">Lugar</label>
        <input 
            class="textbox-matdialog"
            type="text"
            name="lugar"
            id="lugar"
            [(ngModel)]="lugar"
        >
    </div>
    <mat-dialog-actions class="container-botones-matdialog">
        <input class="btn btn-secundario" mat-button [mat-dialog-close]="cancel()" type="button" value="Cancelar">
        <input class="btn btn-principal" mat-button [mat-dialog-close]="submit()" type="submit">
    </mat-dialog-actions>
</div>