<div class="container-basico">
    <div class="container-basico-imagen">
        <img class="img-basico" src='{{detalle.urlImg}}' alt="Imagen detalle"/>
    </div>

    <div class="container-basico-titulo">
        <h2 class="titulo">
            {{detalle.titulo}}
        </h2>
        <p class="descripcion">
            {{detalle.descripcion}}
        </p>
        <p class="periodo">
            {{detalle.periodo}}
        </p>
    </div>
    
    <div class="container-basico-botones">
        <fa-icon class="btn-editar"
        [icon]="faPen"
        *ngIf="loggedIn"
        (click)="editar()"
        ></fa-icon>
        <fa-icon class="btn-eliminar"
        [icon]="faTrash"
        *ngIf="loggedIn"
        (click)="eliminar()"
        ></fa-icon>
    </div>
</div>