<div class="container-basico">
    <div class="container-basico-imagen">
        <img class="img-basico unselectable" src='{{detalle.urlImg}}' alt="Imagen detalle"/>
    </div>

    <div class="container-basico-datos">
        <h2 class="titulo">
            {{detalle.titulo}}
        </h2>
        <p class="descripcion">
            {{detalle.descripcion}}
        </p>
        <p class="periodo">
            {{detalle.periodo}}
        </p>
    </div>
    
    <div class="container-botones" *ngIf="loggedIn">
        <fa-icon class=""
        [icon]="faPen"
        (click)="editar()"
        matTooltip = "Editar detalle"
        ></fa-icon>
        <fa-icon class=""
        [icon]="faTrash"
        (click)="eliminar()"
        matTooltip = "Eliminar detalle"
        ></fa-icon>
    </div>
</div>