@use '/src/styles/variables.scss' as *;

.container-basico{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-basico-datos{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.container-basico-imagen{
    height: 100%;
    width: 100px;
    margin: auto;
    display: flex; /* Hace que align-items y justify-content funcionen */
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */

}
.img-basico {
    max-width: 150px;
    max-height: 150px;
    border-radius: 33%;
}
.titulo{
    margin: 5px 0px;
    text-align: center;
}

.descripcion{
    margin: 3px 0px;
    text-align: center;
}
.periodo{
    color: $gray-subtitle;
    font-size: small;
    line-height: 25px;
    margin: 0px;
    text-align: center;
}