.container-detalle{
    height: 100px;
}
.container-detalle-titulo{
    min-height: 27px;
}
.container-detalle-imagen{
    float: left;
    margin: 0px 10px;
    height: 100%;
    width: 65px;
}
.img-detalle {
    width: 100%;
    border-radius: 50%;
}
.titulo{
    margin: 0px;
    float: left;
    overflow: hidden;
}

.btn-editar{
    float: left;
    cursor:pointer;
    margin: 5px 0px 0px 2%;
}
.btn-eliminar{
    float: left;
    cursor:pointer;
    margin: 5px 0px 0px 10px;
}
.descripcion{
    margin: 5px 0px 0px;
}
.periodo{
    color: rgb(110, 110, 110);
    font-size: small;
    line-height: 25px;
    margin: 5px 0px 15px;
}

