
@use '@angular/material' as mat;
@use 'variables.scss' as var;

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: var.$my-primary,
    accent: var.$my-accent,
    warn: var.$my-warn,
  ),
));

@include mat.elevation-classes();
@include mat.app-background();

@include mat.all-component-themes($my-theme);

