<header>
    <div
    (click)="redireccionar()"
    class="container-logo unselectable"
    >
    <!--
    Revisar que imagen se puede agregar
        <img 
        [src]="argentinaProgramaLogo"
        class="logo">
    -->
        <p>Braian Españon</p>
    </div>
    <div class="redes-sociales">
        <a href="https://github.com/BraianEspanon" target="_blank">
            <fa-icon
            class="icono-red"
            [icon]="faGithub"
            ></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/braian-espa%C3%B1on-064501353/" target="_blank">
            <fa-icon
            class="icono-red"
            [icon]="faLinkedin"
            ></fa-icon>
        </a>
        <app-header-buttons class="inicio-sesion"></app-header-buttons>
    </div>
</header>
