header {
    background-color:rgb(28, 28, 56);
    padding: 10px 5px;
    color: gainsboro;
    min-width: 375px;
    height: 30px;
}

p {
    padding: 6px 0px 6px 5px;
    margin: 0px;
    text-decoration: none;
    color: gainsboro;
    vertical-align: middle;
    float: left;
    font-size:15px;
}

p:hover{
    color:White;
}

p:active{
    color:crimson;
}

.logo{
    height: 30px;
    float: left;
}
.container-logo:hover{
    cursor: pointer;
}

.redes-sociales{
    height: 100%;
    float: right;
    margin-right: 5px;
}

.icono-red{
    font-size: 27px;
    margin: 3px;
    color: gainsboro;
}

.icono-red:hover{
    cursor: pointer;
    color: white;
}

.icono-red:active{
    color:crimson;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre iconos y botón */
    height: 100%;
    float: right;
    margin-right: 10px;
}