<header>
    <div
    (click)="redireccionar()"
    class="container-logo unselectable"
    >
        <img 
        [src]="argentinaProgramaLogo"
        class="logo">
        <p>Argentina Programa #YoProgramo</p>
    </div>
    <app-header-buttons class="inicio-sesion"></app-header-buttons>
    <div class="redes-sociales">
        <a href="https://www.instagram.com/brashammm/" target="_blank">
            <fa-icon
            class="icono-red"
            [icon]="faInstagram"
            ></fa-icon>
        </a>
        <a href="https://twitter.com/FNCWeasell" target="_blank">
            <fa-icon
            class="icono-red"
            [icon]="faTwitter"
            ></fa-icon>
        </a>
    </div>
</header>
