@use '/src/styles/variables.scss' as *;

header {
    min-width: 320px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $gray-buttons;
}

.izquierda{
    min-width: 333px;
    width: 40%;
    max-width: 450px;
    display: flex;
    align-items: center;
}

.navegacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-derecha {
    display: flex;
    align-items: center;
    gap: clamp(5px, 0.75vw, 10px);
    z-index: 1;
}
.hamburguesa {
    display: none;
}


.nombre {
    margin: 0px;
    text-decoration: none;
    color: $gray-buttons;
    vertical-align: middle;
    float: left;
    font-size:15px;
    width: 110px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba($gray-buttons, 0.25);
}


.nombre:hover{
    color:map-get($my-primary, 500);
    text-shadow: 0px 1px 5px rgba($blanco-suave, 0.25);
    cursor: pointer;
}


.nombre:active{
    color: $blanco-fuerte;
    text-shadow: 0px 1px 5px rgba($blanco-fuerte, 0.25);
}

.separador{
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    text-align: center;
}

.btn-nav:hover{
    color:map-get($my-primary, 500);
    text-shadow: 0px 1px 5px rgba($blanco-suave, 0.25);
    cursor: pointer;
}

.btn-nav:active{
    text-shadow: 0px 1px 5px rgba($blanco-fuerte, 0.25);
    color: $blanco-fuerte
}


.icono-red{
    font-size: 27px;
    margin: 3px;
    color: $gray-buttons;
}

.icono-red:hover{
    cursor: pointer;
    color: map-get($my-primary, 500);
}
.icono-red:active{
    color: $blanco-fuerte
}

.btn-nav{
    margin: 0px;
    text-decoration: none;
    color: $gray-buttons;
    vertical-align: middle;
    float: left;
    font-size:15px;
    width: 100%;
    max-width: 75px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba($gray-buttons, 0.25);
}

// Menú móvil
@media (max-width: 600px) {
    .izquierda{
        min-width: 200px;
    }
    .hamburguesa {
        display: block;
    }

    .container-derecha {
        display: none;
    }
    .nav{
        display: none;
    }
    .btn-nav{
        display: none;
    }
    .separador{
        display: none;
    }
}
