<div class="container-porcentaje">
    <div class="container-datos">
        <p class="titulo-porcentaje">{{detalle.titulo}}</p>
        <mat-progress-bar 
            class="barra-porcentaje"
            [value]="animatedValue"
        ></mat-progress-bar>
    </div>
    <div class="container-botones"  *ngIf="loggedIn">
        <fa-icon class=""
        [icon]="faPen"
        *ngIf="loggedIn"
        (click)="editar()"
        matTooltip = "Editar detalle"
        ></fa-icon>

        <fa-icon class=""
        [icon]="faTrash"
        *ngIf="loggedIn"
        (click)="eliminar()"
        matTooltip = "Eliminar detalle"
        ></fa-icon>
    </div>
</div>