.container-porcentaje{
    height: 40px;
    padding: 0px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-datos{
    width: 100%;
    padding: 0px 3px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.container-botones{
    padding: 3px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-porcentaje{
    margin: 0px 0px;
    text-align: center;
    width: 100%;
}
.barra-porcentaje{
    
    border-radius: 5px;
}
