<div class="container-porcentaje">
    <p class="titulo-porcentaje">{{detalle.titulo}}</p>
    <mat-progress-bar 
    class="barra-porcentaje"
    [value]="detalle.cantidad"
    color=""
    ></mat-progress-bar>
</div>
<div class="container-porcentaje-botones"  *ngIf="loggedIn">
    <fa-icon class="btn-editar"
    [icon]="faPen"
    *ngIf="loggedIn"
    (click)="editar()"
    matTooltip = "Editar detalle"
    ></fa-icon>

    <fa-icon class="btn-eliminar"
    [icon]="faTrash"
    *ngIf="loggedIn"
    (click)="eliminar()"
    matTooltip = "Eliminar detalle"
    ></fa-icon>
</div>