<form 
    class="container-tarjeta"
    (ngSubmit)="onLogin()"
>
    <label><h1 class="titulo">Iniciar sesión</h1></label>
    <div class="container-login">
        <label for="nombreUsuario">Usuario:</label>
        <input 
            type="nombreUsuario"
            name="nombreUsuario" 
            id="nombreUsuario"
            [(ngModel)]="nombreUsuario" 
            required
        >
    </div>

    <div class="container-login">
        <label for="password">Password:</label>
        <input 
            type="password"
            name="password" 
            id="password"
            [(ngModel)]="password" 
            required
        >
    </div>
    <div class="container-btn">
        <input type="submit" value="Iniciar Sesion" class="btn btn-iniciar-sesion">
    </div>
</form>

