<div class="contenedor-principal">
<form 
    class="container-tarjeta"
    (ngSubmit)="onLogin()"
>
    <label><h1 class="titulo">Iniciar sesión</h1></label>
    <div class="container-login">
        <label for="email">Correo:</label>
        <input 
            type="email"
            name="email" 
            id="email"
            [(ngModel)]="email" 
            required
        >
    </div>

    <div class="container-login">
        <label for="password">Password:</label>
        <input 
            type="password"
            name="password" 
            id="password"
            [(ngModel)]="password" 
            required
        >
    </div>
    <div class="container-btn">
        <input type="submit" value="Iniciar Sesion" class="btn btn-iniciar-sesion">
    </div>
</form>
</div>