@use '/src/styles/variables.scss' as *;

.container-tarjeta{
    width: 30%;
    max-width: 350px;
}
.container-login{
    height: 30px;
    width: 75%;
    margin: 10px auto;
    text-align: right;
    max-width: 300px;
    color: $blanco-suave;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo{
    text-align: center;
}
.container-login label{
    color: $blanco-suave;
}
.container-login input{
    color: $blanco-suave;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid $blanco-suave;
    width: 70%;
    min-width: 150px;
    float: right;
    margin: 0px 0px 0px 5px;
}
.container-login input:focus{
    outline: none;
}
.container-btn{
    text-align: center;
    margin: 15px auto;
}

.btn{
    width: 100px;
    height: 24px;
    margin: 10px auto ;
    text-align: center;
    padding: 1px;
}