<form 
    class="container-tarjeta"
    (ngSubmit)="onSubmit()"
>
    <label><h1 class="titulo">Iniciar sesión</h1></label>
    <div class="container-login">
        <label for="email" class="email">Email:</label>
        <input 
            class="email"
            type="email"
            name="email" 
            id="email"
            [(ngModel)]="email" 
        >
    </div>

    <div class="container-login">
        <label for="password">Password:</label>
        <input 
        type="password"
        name="password" 
        id="password"
        [(ngModel)]="password" 
        >
    </div>
    <div class="container-btn">
        <input type="submit" value="Iniciar Sesion" class="btn btn-iniciar-sesion">
    </div>
</form>

