@use '/src/styles/variables.scss' as *;
@use 'sass:map';

.container-proyecto{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container-datos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.container-auxiliar{
    position: relative;
    bottom: 0px;
    margin: 10px auto;

}
.titulo{
    font-size: large;
    color: map.get($my-primary, 500);
    text-align: center;
    margin: 5px 0px;
}

.descripcion{
    color: $gray-buttons;
    font-size: small;
    margin: 5px 0px;
    text-align: center;

}

.titulo-porcentaje{
    margin: 0px 0px;
    text-align: center;
    width: 100%;
}

.img-basico {
    max-width: 200px;
    max-height: 200px;
    border-radius:20%;
    box-shadow: 2px 2px 10px rgba($blanco-suave, 0.2);
    border: 1px solid rgba($blanco-suave, 0.25);
}
.btn-proyecto{
    width: 90px;
    padding: 2px 5px;
    text-align: center;
}
