.titulo{
    font-size: large;
    text-decoration: none;
    color: blue;
}

.titulo:active{
    color:red;
}
.descripcion{
    color: rgb(110, 110, 110);
    font-size: small;
    line-height: 25px;
    margin: 0px 00px 15px;

}
.container-proyecto{
    margin: 0px 0px 0px 30px;
    float: left;
    width: 75%;
}
.container-proyecto-botones{
    float: right;
    width: 40px;
    margin-bottom: 20px;
    margin-right: 4%;
}

.titulo-porcentaje{
    margin: 0px 0px;
    text-align: center;
    width: 100%;
}

.btn-editar{
    float: left;
    cursor:pointer;
    margin: 10px 5px 0px 0px;
}
.btn-eliminar{
    float: left;
    cursor: pointer;
    margin: 10px 0px 0px 5px;
}