<div class="container-perfil">
    <div class="container-img-perfil">
        <img 
            class="img-perfil unselectable"
            src='{{tarjeta.urlImgPerfil}}'
            alt="Foto de perfil"
        />
    </div>
    <div class="container-datos">
        <div>
            <h2 class="nombre">
                {{tarjeta.nombre}}
            </h2>
            <p class="detalle">
                {{tarjeta.detalle}}
            </p>
            <p class="detalle">
                {{tarjeta.lugar}}
            </p>
        </div>
    </div>
    
            <div class="container-botones" *ngIf="loggedIn">
                <fa-icon
                    class=""
                    [icon]="faPen"
                    (click)="editar()"
                    matTooltip = "Editar perfil"
                ></fa-icon>
                <fa-icon
                    class=""
                    [icon]="faPlus"
                    *ngIf="loggedIn"
                    (click)="addTarjeta()"
                    matTooltip = "Agregar detalle"
                ></fa-icon>
            </div>
</div>