
<img 
    class="img-perfil unselectable"
    src='{{tarjeta.urlImgPerfil}}'
    alt="Foto de perfil"
/>
<div class="container-titulo">
    <div class="container-botones">
        <fa-icon
            class="btn-editar"
            [icon]="faPen"
            *ngIf="loggedIn"
            (click)="editar()"
            matTooltip = "Editar perfil"
        ></fa-icon>
        <fa-icon
            class="btn-agregar"
            [icon]="faPlus"
            *ngIf="loggedIn"
            (click)="addTarjeta()"
            matTooltip = "Agregar detalle"
        ></fa-icon>
    </div>
</div>

<h2 class="nombre">{{tarjeta.nombre}}</h2>
<div class="container-detalleylugar">
    <p class="detalle">
        {{tarjeta.detalle}}
    </p>
    <p class="detalle">
        {{tarjeta.lugar}}
    </p>
</div>
<div class="container-botones-perfil">
    <button 
        class="btn btn-contacto unselectable"
        routerLink="/contacto">
        Contacto
    </button>
    <button 
        class="btn btn-contacto unselectable"
        (click)="abrirCurriculum()">
        Curriculum
    </button>
    <button 
        class="btn btn-contacto unselectable"
        (click)="abrirGitHub()">
        GitHub
    </button>
    <button 
        class="btn btn-contacto unselectable"
        (click)="abrirLinkedIn()">
        LinkedIn
    </button>
</div>