@use '/src/styles/variables.scss' as *;

.img-perfil{
    position: absolute;
    top: 60px; 
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    
    outline: 1px solid rgba($blanco-suave, 0.051);
    outline-offset: -1px;
    box-shadow: 0px 1px 20px rgba($blanco-suave, 0.145);
}



.container-detalleylugar{
    margin-bottom: 15px;
}
.container-botones-perfil{
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.container-titulo{
    margin: 15px 0px 40px;
    width: 100%;
    height: 30px;
}


.nombre {
    margin: 0px 20px 0px;
    text-align: center;
}

.detalle {
    margin: 0px 25px;
    color: $gray-subtitle;
    font-size: small;
    line-height: 25px;
    text-align: center;
}


.btn-editar{
    float: right;
    cursor:pointer;
    margin: 10px 7px 0px 0px;
}

.btn-agregar{
    float: right;
    cursor:pointer;
    margin: 10px 0px 0px 0px;
}

.btn-contacto{
    color: map-get($my-primary, 500);
    border-color: map-get($my-primary, 500);
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.btn-contacto:hover{
    background-color: map-get($my-primary, 500);
    color: $gray-buttons;
    cursor: pointer;
}

.btn-perfil{
    font-size: small;
}