<div class="container-foto-portada">
    <img class="img-portada unselectable" src='{{tarjeta.urlImgPortada}}' alt="Portada"/>
</div>
<div class="container-foto-perfil unselectable">
    <img 
        class="img-perfil"
        src='{{tarjeta.urlImgPerfil}}'
        alt="Foto de perfil"
        />
    <fa-icon
        class="btn-editar"
        [icon]="faPen"
        *ngIf="loggedIn"
        (click)="editar()"
        matTooltip = "Editar perfil"
    ></fa-icon>
</div>

<h2 class="nombre">{{tarjeta.nombre}}</h2>
<div class="container-detalleylugar">
    <p class="detalle">
        {{tarjeta.detalle}}
    </p>
    <p class="detalle">
        {{tarjeta.lugar}}
    </p>
</div>
<div class="container-botones-perfil">
    <button 
        class="btn btn-contacto unselectable"
        routerLink="/contacto">
        Contacto
    </button>
    <button class="btn btn-add-seccion unselectable"
        *ngIf="loggedIn"
        (click)="addTarjeta()"
    >
        Añadir sección
    </button>
</div>