.img-portada{
    margin: 0px;
    width:100%;
    min-height: 300px;
    display: block;
    margin: 0;
    font-size: 1;
}
.container-foto-portada{
    height: 300px;
    overflow: hidden;
}
.container-foto-perfil{
    width: 100px;
    height: 100px;
    position: relative;
    left: 65px;
    top: -20px;
    float: left;
    line-height: 1px;
}
.container-detalleylugar{
    height: 80px;
}
.container-botones-perfil{
    margin-left: 40px;
    margin-bottom: 10px;
}

.img-perfil{
    width: 90px;
    
    border-radius: 50%;
    border: solid 1px black;
    display: block;
    margin: 0;
    font-size: 1;
    
}

.nombre {
    position: relative;
    top: 50px;
    left: -50px;
}

.detalle {
    position: relative;
    top: 25px;
    left: -50px;
    margin: 0px 25px;
    color: rgb(110, 110, 110);
    font-size: small;
    line-height: 25px;
}

.btn-editar{
    float:right;
    width: 18px;
    position: relative;
    bottom: 60px;
    left: 15px;
    cursor:pointer;
}

.btn-add-seccion{
    color: rgb(0, 0, 0);
    border-color: rgb(39, 39, 39);
}

.btn-add-seccion:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: gainsboro;
    cursor: pointer;
}
.btn-contacto{
    color: rgb(0, 64, 255);
    border-color: rgb(0, 64, 255);
    margin-right: 10px;
}

.btn-contacto:hover{
    background-color: rgb(0, 64, 255);
    color: gainsboro;
    cursor: pointer;
}