.img-portada{
    margin: 0px;
    width:100%;
    height:30%;
    max-height: 300px;
    display: block;
    margin: 0;
    font-size: 1;
}

.img-perfil{
    width: 90px;
    border-radius: 50%;
    border: solid 1px steelblue;
    display: block;
    margin: 0;
    font-size: 1;
}

.nombre {
    position: relative;
    top: 50px;
    left: -50px;
}

.detalle {
    position: relative;
    top: 25px;
    left: -50px;
    margin: 0px 25px;
    color: rgb(110, 110, 110);
    font-size: small;
    line-height: 25px;
}

.editar{
    float:right;
    width: 18px;
    position: relative;
    bottom: 60px;
    left: 15px;
    cursor:pointer;
}
.container-foto-perfil{
    width: 100px;
    height: 100px;
    position: relative;
    left: 50px;
    top: -20px;
    float: left;
    line-height: 1px;
}
.container-detalleylugar{
    height: 80px;
}