@use '/src/styles/variables.scss' as *;

.container-perfil{
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-img-perfil{
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-perfil{
  position: relative;
  left: 50px;
  width: 175px;
  height: 175px;
  z-index: 2;
  object-fit: cover;
  border-radius: 50%;
  outline: 5px solid $blanco-suave;
}

.container-datos {
  margin: auto;
  z-index: 1;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.container-detalleylugar{
    margin-bottom: 0px;
}
.container-botones-perfil{
    margin-bottom: 15px;
    justify-content: center;
    display: flex;
    gap: 10px;
}
.container-titulo{
    margin: 15px 0px 40px;
    width: 100%;
    height: 30px;
}


.nombre {
    color: map-get($my-primary, 500);
    margin: 0px;
    text-align: center;
}

.detalle {
    margin: 5px 50px;
    color: $blanco-suave;
    font-size: 1.25em;
    text-align: center;
    font-weight: 300;
}
.lugar {
    margin: 15px 0px 5px;
    color: $blanco-suave;
    font-size: small;
    text-align: center;
    font-weight: 100;
}


@media(max-width:900px){
    .container-img-perfil{
        width: 100px;
        height: 100px;
    }
    .img-perfil{
        left: 0px;
    }
}

@media(max-width:600px){
    .container-perfil {
        flex-direction: column; // Cambia a vertical
        align-items: center;    // Centra los elementos
    }
    .container-img-perfil{
        margin-bottom: 45px;
    }
    .container-datos{
        height: 150px;
    }
}

.container-botones{
    margin-right: 5px;
}