.login{
    color: rgb(0, 189, 0);
    border-color: green;

}

.login:hover{
    background-color: green;
    color: gainsboro;
    cursor: pointer;
}
.logout{
    color: rgb(189, 0, 0);
    border-color: rgb(128, 0, 0);
}

.logout:hover{
    background-color: rgb(128, 0, 0);
    color: gainsboro;
    cursor: pointer;
}