@use '/src/styles/variables.scss' as *;

.login{
    color: $blanco-fuerte;
    border-color: $gray-buttons;
    transition: background-color 0.15s ease-out, color 0.15s ease-out;

}

.login:hover{
    background-color: $gray-buttons;
    border-color: $gray-buttons;
    color: $azul-fondo-oscuro;
    cursor: pointer;
}
.login:active{
    background-color: $blanco-fuerte;
    border-color: $blanco-fuerte;
    color: $azul-fondo-oscuro;
}
.logout{
    padding: 5px;
    color: map-get($my-warn, 900);
    border-color: map-get($my-warn, 900);
    /*
    color: rgb(189, 0, 0);
    border-color: rgb(128, 0, 0);*/
    transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

.logout:hover{
    background-color: map-get($my-warn, 900);
    color: gainsboro;
    cursor: pointer;
}

.logout:active{
    background-color: map-get($my-warn, A700);
    border-color: map-get($my-warn, A700);
    color: gainsboro;
}