
// styles.scss
@use 'styles/variables' as *;
@use 'styles/themes';

/* You can add global styles to this file, and also import other style files */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/bg2.jpg'); // ruta a tu fondo
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; // detrás de todo
  pointer-events: none; // para que no bloquee clics
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  margin: 0;
  padding: 0;
  background-color: #191930; //Poner variable. Sirve para color durante carga mobile
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
router-outlet {
  flex: 1;
  display: block; // Necesario porque por defecto es un "ng-component" invisible
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: calc(100vh - 210px - 50px);
  width: 100%;
}
.container-tarjeta {
    scroll-margin-top: 15px; /* o el valor que quieras como offset */
    min-width: 325px;
    width: 85%;
    margin: 20px auto;
    padding: 3px;
    min-height: 80px;
    border-radius: 20px;
    background: linear-gradient(to bottom, $azul-tarjeta-claro, $azul-tarjeta-oscuro);
    color: $blanco-suave;
    box-shadow: 1px 1px 6px rgba($blanco-suave, 0.2);
    transition: box-shadow 0.1s ease;
}

.container-tarjeta:hover {
    box-shadow: 2px 2px 10px rgba($blanco-suave, 0.333);
}

.container-tarjeta:hover .img-perfil{
    box-shadow: 1px 2px 25px rgba($blanco-suave, 0.333);
}

.fila-tarjetas {
  margin: 20px auto;
  min-width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}
.tarjeta-porcentaje{
    margin: 20px 3px;
    min-width: 225px;
    width: 30%;
}

@media(max-width:850px){
  .tarjeta-porcentaje {
        width: 45%;
        margin: 20px auto
    }
}

@media(max-width:600px){
  .tarjeta-porcentaje {
    width: 100%;
    margin: 0px 0px 20px;
  }
}

.container-botones{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap:10px;
}
.btn{
    background-color: transparent;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

.container-alta-modificacion{
    min-width: 300px;
    max-width: 500px;
    width: 30%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px; 
    background: linear-gradient(to bottom, $azul-fondo-claro, $azul-fondo-oscuro);
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, $azul-fondo-claro, $azul-fondo-oscuro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {    
    background-color: $gray-buttons;
    border-radius: 10px;
    
    border: 2px solid $gray-buttons;
  }

.no-scroll {
  overflow: hidden;
}