
// styles.scss
@use 'styles/variables' as *;
@use 'styles/themes';

/* You can add global styles to this file, and also import other style files */
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/images/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; // detrás de todo
  pointer-events: none; // para que no bloquee clicks
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  margin: 0;
  padding: 0;
  background-color: $azul-footer-oscuro; //Sirve para color de fondo donde no haya imagen (Botones chrome android)
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
router-outlet {
  flex: 1;
  display: block; // Necesario porque por defecto es un "ng-component" invisible
}
.contenedor-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: calc(100vh - 260px - 50px);
  height: 100%;
  width: 100%;
}
.container-tarjeta {
    scroll-margin-top: 15px; //Regula donde deja el scroll
    min-width: 325px;
    width: 85%;
    margin: 20px auto;
    padding: 3px;
    min-height: 80px;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba($azul-tarjeta-claro2,0.6), rgba($azul-tarjeta-oscuro2,0.6));
    color: $blanco-suave;
    box-shadow: 0px 0px 6px rgba($blanco-suave, 0.2);
    transition: box-shadow 0.1s ease;
}

@media(max-width:600px){
  .contenedor-principal {
    min-height: calc(100vh - 310px - 50px);
  }
  
  .container-tarjeta {
    margin: 10px auto;
  }
}
.container-tarjeta:hover {
    box-shadow: 0px 0px 10px rgba($blanco-suave, 0.333);

}

.container-tarjeta:hover .img-perfil{
    box-shadow: 0px 0px 25px rgba($blanco-suave, 0.333);
}

.fila-tarjetas {
  margin: 20px auto;
  min-width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}
.tarjeta-porcentaje{
    margin: 20px 3px;
    min-width: 225px;
    width: 30%;
}

@media(max-width:850px){
  .tarjeta-porcentaje {
        width: 45%;
        margin: 20px auto
    }
}

@media(max-width:600px){
  .tarjeta-porcentaje {
    width: 100%;
    margin: 0px 0px 20px;
  }
}

.container-botones{
  display: flex;
  align-items: center;
  justify-self:center;
  gap:10px;
}

.cursor:hover{
  cursor: pointer;
}
.btn{
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;

  text-decoration: none;
  font-size:13px;
  display: flex;
  align-items: center; /* centra vertical */
  justify-content: center; /* centra horizontal (opcional) */

  width: 70px;
  height: 24px;
    
  transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out;
}

.btn-principal{
  color: $blanco-suave;
  background-color:map-get($my-primary, 500);
  border-color: map-get($my-primary, 500);

}
.btn-principal:hover{
    color: $negro;
    background-color:map-get($my-primary, 500);
    border-color: map-get($my-primary, 500);
    cursor: pointer;
}
.btn-principal:active{
    color: $negro;
    background-color: $blanco-fuerte;
    border-color: $blanco-fuerte;
}

.btn-secundario{
  color: $negro;
  background-color: $gray-buttons;
  border-color: $gray-buttons;
}
.btn-secundario:hover{
  color: $blanco-fuerte;
  background-color:map-get($my-primary, 500);
  border-color: map-get($my-primary, 500);
  cursor: pointer;
}
.btn-secundario:active{
    color: $negro;
    background-color: $blanco-fuerte;
    border-color: $blanco-fuerte;
}

.custom-dialog-container {
  min-width: 300px;
  width: 90vw;
  max-width: 95vw;
}
.container-matdialog{
    background-color: $azul-tarjeta-claro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-dato-matdialog{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}
.container-botones-matdialog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.label-matdialog{
    width: 100%;
    margin-top: 15px;
    color: $gray-buttons;
    background-color: $azul-tarjeta-claro;
}
.textbox-matdialog{
    width: 100%;
    text-align: center;
    border:none;
    border-bottom: 1px solid $gray-buttons;
    color: $gray-buttons;
    background-color: $azul-tarjeta-claro;
}

.textbox-matdialog:focus{
    outline: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px; 
    background: linear-gradient(to bottom, $azul-footer-claro, $azul-footer-oscuro);
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, $azul-footer-claro, $azul-footer-oscuro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {    
    background-color: $gray-buttons;
    border-radius: 10px;
    
    border: 2px solid $gray-buttons;
  }

.no-scroll {
  overflow: hidden;
}

//Animaciones
.fade-in-img {
  opacity: 0;
  transform: translateY(3px);
  transition: opacity 0.8s ease-in, transform 0.66s ease-out;
}

.fade-in-img.visible {
  opacity: 1;
  transform: translateY(0px);
}

.fade-in-div {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-div.visible {
  opacity: 1;
  transform: translateY(0px);
}