@use '/src/styles/variables.scss' as *;
@use 'sass:map';
.titulo{
    float: left;
    margin: 0px;
    font-size: 1.4rem;
    color: map.get($my-primary, 500);
}
.container-titulo{
    margin: 10px 0px 5px;
    height: 27px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.fila-detalles{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}
.ancho{
    width: 33%;
    max-width: 500px;
}
.proyecto{
    margin: 2px;
    width: 30%;
    max-width: 650px;
}
@media(max-width: 1000px){
    .proyecto{
        min-width: 350px;
    }
}
@media(max-width: 850px){
    .proyecto{
        min-width: 250px;
    }
}
@media(max-width: 600px){
    .proyecto{
        width: 95%;
    }
    
    .fila-detalles{
        flex-direction: column;    
        align-items: center;
    }
    .ancho{
        width: 95%;
    }
}