@use '/src/styles/variables.scss' as *;

.titulo{
    float: left;
    margin: 0px;
    font-size: 1.4rem;
    color: map-get($my-primary, 500);
}
.btn-agregar{
    float: right;
    cursor:pointer;
    margin: 10px 5px 0px 0px;
}
.btn-editar{
    float: right;
    cursor:pointer;
    margin: 10px 5px 0px 5px;

}
.btn-eliminar{
    float: right;
    cursor:pointer;
    margin: 10px 0px 0px 5px;
}
.container-titulo{
    margin: 15px 15px 5px;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

.fila-detalles{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
}
.ancho{
    width: 45%;
}
.proyecto{
    margin: 2px;
    width: 32%;
    max-width: 650px;
}
@media(max-width: 1000px){
    .proyecto{
        min-width: 350px;
    }
}
@media(max-width: 850px){
    .proyecto{
        min-width: 250px;
    }
}
@media(max-width: 600px){
    .proyecto{
        width: 95%;
    }
    
    .fila-detalles{
        flex-direction: column;    
        align-items: center;
    }
    .ancho{
        width: 95%;
    }
}